{{- range $drink := .Site.Data.drinks -}}
<div class="drink">
  <div class="p-media-object--large" data-drink-name="{{- $drink.name -}}">
    {{- partial "glass-icon" (dict "glass" $drink.glass) -}}
    <div class="p-media-object__details">
      <h2 class="p-media-object__title">{{ $drink.name }}</h3>
      <p class="p-media-object__content">{{ delimit $drink.base ", " }}</p>
    </div>
    <div class="u-vertically-center">
      <button 
        id="accordion-{{- $drink.id -}}-tab"
        class="p-button--base u-toggle is-dense drink-expand-button"
        type="button"
        aria-controls="accordion-{{- $drink.id -}}"
        aria-expanded="false"
      >
        <i class="button-icon p-icon--chevron-down"></i>
      </button>
    </div>
  </div>
  <aside class="p-accordion" >
    <ul class="p-accordion__list">
      <li class="p-accordion__group">
        <section class="p-accordion__panel" id="accordion-{{- $drink.id -}}" aria-hidden="true">
          <p><strong>Method:</strong> {{ delimit $drink.method ", " }}</p>
          {{ if len $drink.ice }}
          <p><strong>Ice:</strong> {{ delimit $drink.ice ", " }}</p>
          {{- end -}}
          
          {{- if len $drink.garnish -}}
          <p><strong>Garnish:</strong> {{ delimit $drink.garnish ", " }}</p>
          {{- end -}} {{- if $drink.notes -}}
          <p><strong>Notes:</strong> {{ $drink.notes }}</p>
          {{- end -}}
          
          <table>
            <thead>
              <th>Measure</th>
              <th>Name</th>
            </thead>
            <tbody>
              {{- range $i := $drink.ingredients -}}
              <tr>
                <td>{{ $i.measure }} {{ $i.unit }}</td>
                <td>{{ $i.name }}</td>
              </tr>
              {{- end -}}
            </tbody>
          </table>
          </p>
        </section>
      </li>
    </ul>
  </aside>
</div>
{{- end -}}
