.p-accordion__panel {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p-media-object__title {
  font-size: 18px !important;
}

.p-media-object__details {
  width: 100%;
}

.p-media-object--large {
  margin-bottom: 0px;
}
.p-media-object__image {
  padding: 1rem 0 1rem 0;
}
.p-media-object__content {
  margin-top: -5px;
}
.p-accordion__list {
  margin-bottom: 0;
}
